.header {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  &--red {
    background-color: #db2828;
  }

  &--blue {
    background-color: #3c6e91
  }

  &__logo {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

